@font-face {
font-family: "rickandmorty";
src:url("/assets/get_schwifty.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans Narrow', sans-serif;
}
body{
/* ackground:no-repeat bottom/100% url("/assets/rickandmorty-space-2.png"); */
    display: flex;
    align-items: stretch;
    flex-direction: column;
/*     background-image: radial-gradient(circle at 31.7% 118.3%, #c5fcff 0, #5389f2 50%, #002550 100%);
 */

 background-image: radial-gradient(circle at 45.78% 98.28%, #00b6ed 0, #127da4 25%, #1f4459 50%, #0e1317 75%, #000000 100%);
 
}

  



header{
    /* background:no-repeat top/100% url("/assets/rickandmorty-space-2.png"); */
    display: flex;
    
    align-items: stretch;
    flex-direction: column;
/*     background-image: radial-gradient(circle at 45.78% 98.28%, #00b6ed 0, #127da4 25%, #1f4459 50%, #0e1317 75%, #000000 100%);
 */}

header nav{
    display: flex;
    /* background-color: blueviolet; */
    /* background-color: #24325fff; */
    justify-content: flex-end;
    padding: 20px;
    /* border-bottom: 1px solid royalblue; */
}

header nav ul {
    display: flex;
    /* background-color: #5f9ea0; */
    gap:20px;
    list-style-type: none;
    padding-right:20px ;
}

header nav ul li {
    padding: 10px;
    background-color: rgba(0, 153, 255, 0.219);
    border-radius: 10px;
    color:rgb(0, 255, 34) ;
    
}
header nav ul li:hover {
    padding: 15px;
    background-color: rgba(0, 89, 255, 0.158);
    
}

header nav ul a{
    text-decoration: none;
    font-weight: 700;
}

.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background: #162c7a; */
    
    min-height: 100vh;
}
.img-banner{
    /* background-color: blanchedalmond; */
    padding: 30px;
}
.img-banner img{
    /* background-color: coral; */
    width: 500px;
    opacity: 80%;
}
.title-banner h1{
    animation: title 0.5s infinite alternate steps(3);
    
}


@keyframes title {
    from{
        opacity: 20%;
    }
    to{
        width: 100%;
    }
}

.title-banner h1{
    font-size: 90px;
    font-family: "rickandmorty";
    color:chartreuse;
}

main section{
    /* background: center/100% url("/assets/rickandmorty-space-2.png"); */
    min-height: 100vh;
    padding: 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: radial-gradient(circle at 45.78% 98.28%, #00b6ed 0, #127da4 25%, #1f4459 50%, #0e1317 75%, #000000 100%); */
    background-color: navajowhite;
    
}

main section .cards{
    /* background-color: navajowhite; */
    /* height: 500px; */
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: start;
    justify-content: center;
    padding: 30px;
    flex-wrap: wrap;
    opacity: 100%;
}
main section .cards .card img{
    
    width: 100px;
    background-color: black;
    border: 2px solid black;
    border-radius: 50%;
}

main section .cards .card{
    
    background-color: rgb(219, 205, 205);
    padding: 20px;
    text-align: center;
    border:1px solid black;
    border-radius:30px;
}

footer{
    /* background-color: cadetblue; */
/*     background-image: radial-gradient(circle at 45.78% 98.28%, #00b6ed 0, #127da4 25%, #1f4459 50%, #0e1317 75%, #000000 100%);
 */}
