@font-face {
font-family: "rickandmorty";
src:url("/assets/get_schwifty.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans Narrow', sans-serif;
}
body{
    background:no-repeat url("/assets/rickandmorty-space-2.png") center center fixed;
    background-size: cover;
    display: flex;
    align-items: stretch;
    flex-direction: column;
/*     background-image: radial-gradient(circle at 31.7% 118.3%, #c5fcff 0, #5389f2 50%, #002550 100%);
 */

 /* background-image: radial-gradient(circle at 45.78% 98.28%, #00b6ed 0, #127da4 25%, #1f4459 50%, #0e1317 75%, #000000 100%); */
 
}

  



header{
    /* background:no-repeat top/100% url("/assets/rickandmorty-space-2.png"); */
    display: flex;
    
    align-items: stretch;
    flex-direction: column;
/*     background-image: radial-gradient(circle at 45.78% 98.28%, #00b6ed 0, #127da4 25%, #1f4459 50%, #0e1317 75%, #000000 100%);
 */}


header nav ul {
    display: flex;
    gap:20px;
    list-style-type: none;
    padding: 20px;
    justify-content: end;
}

header nav ul li {
    padding: 10px;
    background-color: rgba(0, 153, 255, 0.219);
    border-radius: 10px;
    color:rgb(0, 255, 34) ;
    
}
header nav ul li:hover {
    padding: 15px;
    background-color: rgba(0, 89, 255, 0.158);
    
}

header nav ul a{
    text-decoration: none;
    font-weight: 700;
}

.banner{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    min-height: 100vh;
    
}
header .banner img{
    width: 30%;
}

header .banner .title{
    text-align: center;
    flex-grow: 1;
}


@keyframes title {
    from{
        opacity: 20%;
    }
    to{
        width: 100%;
    }
}
h1{
    font-size: 90px;
    font-family: "rickandmorty";
    color:chartreuse;
    animation: title 0.5s infinite alternate steps(3);
}

#characters{
    background-color: #021821;
    color: chartreuse;
    text-align: center;
    padding: 50px;
    border-top: 2px solid chartreuse;
    border-bottom: 2px solid chartreuse;
}
main section{

    min-height: 100vh;
    padding: 5px 0px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    
}

main section .cards{
    width: 100%;
    display: flex;
    gap: 20px 50px;
    align-items: start;
    justify-content: space-evenly;
    padding: 30px;
    flex-wrap: wrap;

}
main section .cards .card img{
    
    width: 100px;
    background-color: black;
    border: 4px solid black;
    border-radius: 50%;
    padding: 5px;
    
}

.description-card{
    background-color: #ffffffcb;
    border: 2px solid black;
    font-weight: 700;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
}

main section .cards .card{
    width: 300px;
    background: linear-gradient(to right, rgba(2, 24, 33, 1) 0%, 33.49282443523407%, rgb(92, 216, 224) 66.98564887046814%, 83.49282443523407%, rgba(32, 51, 45, 1) 100%);
    padding: 20px;
    border:1px solid black;
    border-radius:30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    
}
main section .cards .card:nth-child(2n){
    border:1px solid chartreuse;
}

footer{
    border-top:5px solid chartreuse;;
    background-color: #021821;
    color:#ffff;
    padding: 50px;
}
.made{
    border-bottom: 1px solid black;
}

.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
    padding: 10px 0px;
  }

.fa-brands{
    padding: 5px;
}



/* MQ para tablet */
@media (max-width: 880px) {

    header .banner .title h1{
        font-size: 50px;
    }
}
/* MQ para celulares */
@media (max-width: 480px) {
    header nav ul {
        flex-direction: column;

    }
    header nav ul li{
        text-align: center;

    }

}
